# Mac OS X files
.DS_Store

# History files
.Rhistory

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R development files
.Rbuildignore

# Mariathasan data)
data/dataset_mariathasan.rda

# Model optimization parameters (heavy data file)
inst/extdata/easierData.rda
inst/extdata/Mariathasan2018_PDL1_treatment.rda

# Results
figures/*

